//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//background color
$layoutBg: #f2f2f2;

//font color
$fontColorBasic: black;
$fontColorPrimary: black;
$fontColorHover: black;

//border color
$borderColorPrimary: #4d4d4d;
$borderColorDark: #757575;

//button color
$gbtnColor: #b8944d;
$gbtnColorHover: #e3a936;

//table color
$tableColorPrimary: #b8944d;
